@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: rgb(214, 219, 220);
}

.hidden-text-3-lines { 
  overflow: hidden;
  text-overflow: ellipsis;
  display:-webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical
}

.datepicker-container > div > div {
  background:#F0F0F0
}
